.meet{
    padding: 5rem;
    text-align: center;
    font-size: 2rem;
   
}
.headingSecondary{
    font-size: 3.5rem;
    color: rgba(0,0,0,.6);
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.paragraph{
    color: rgba(0,0,0,.4);
}
.marginTopBig{
    margin-top: 15rem;
}
.container{
    display: flex;
}
.containerImg{
    height: 40rem;
    width: 50rem;
}
