.header{
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0, 0, 0, 0.859);
    padding: 2rem;
}
.nav__container > ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;

}
.nav__container > ul > a:visited, .nav__container > ul > a:link  {
    text-decoration: none;
    text-transform: uppercase;
        color: #fff;

}
.nav--item{
    margin-right: 2rem;
}