.modalContainer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    width: 50vw;
    height: auto;
    background-color: #fff;
    padding: 5rem 4rem;
    background-color: rgba(255,255,255, .0.35);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem rgba(0,0,0, .2);
    color: rgba(0,0,0,.5);
}
.modal__header{
    position: relative;
    margin-bottom: 2.5rem;

}
.modal__headerTitle{
    text-align: center;
    text-transform: uppercase;
}
.close{
    position: absolute;
    top: 0;
    right: 0;

}
.close:hover{
    transform: scale(1.1);
}
.modal__content{
    padding: 2rem 0;
}
.text__container:not(:last-child) {
    margin-bottom: 3rem;

}
.heading__secondary{
    
    margin-bottom: 1rem;
    
}
.heading__secondary > span{
 font-style: italic;
 font-size: 1.5rem;
}
.heading__tertiary{
    font-weight: 700;
    margin-bottom: 1rem;
}