.event{
   
    font-size: 2rem;
    padding: 5rem 5rem;
    background-color: var(--color-bg);
    
}
.headingTertiary{
    margin-bottom: 3rem;
    color: rgba(0,0,0,.7);
    margin-left: 7rem;
}
.rowContainer{
     display: flex;
      color: rgba(0,0,0,.6);
}
.rowContainer * {
    margin-bottom: 2rem;

}
.row{
    padding: 0 7rem;
}
.row:not(:last-child){
    border-right: 1px solid rgba(0,0,0,.4);
}
.btnContainer{
    text-align: center;
    margin-top: 2rem;
}

