.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-family: 'Dancing Script';
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../Assets/hero-min.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
}
.heroLogo{
 width: 70rem;
}
@media (max-width:600px){
  .heroLogo{
    width: 65rem;
  }
}

